*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(0, 0, 0);
}
.main{
  /* border: 2px solid; */
  height: 30em;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5em;
}
.content{
  border: 2px solid whitesmoke;
  width: 100%
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(12, 8, 240);
  width: 100%;
  font-size: 5em;
  letter-spacing: 4.5px;
  margin: 10px;
  border-bottom: 3px solid whitesmoke ;
}
.form{
  /* border: 2px solid; */
  margin: 15px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input{
  padding: 10px;
  margin-right: 13px;
  width: 20em;
  text-size-adjust: 10%;
  color: rgb(255, 254, 240);
  border: 2px solid whitesmoke;
}
.newItems{
  /* border: 2px solid whitesmoke; */
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

}
.ul{
  list-style: none;
}
li{
  padding: 10px;
}
.label{
  font-size: 3em;
  padding-right:15px;
  color: aliceblue;
}
.additemButton{
  border: 2px solid rgb(38, 237, 16);
  padding: 4px;
  border-radius: 5px;
  color: aliceblue;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 15px;
}
.additemButton:hover{
  color: rgb(0, 0, 0);
  background-color: aliceblue;
  border: none;
}
.trash{
  /* border: 2px solid whitesmoke; */
  color: rgb(242, 8, 8);
  padding: 4px;
  margin-left: 10px;
  font-size: 2em;
  cursor: pointer;
}
.trash :hover{
  padding: 14px;
  color: rgb(255, 255, 255);
}
@media screen  and (max-width:700px){

  .header{
  width: 100%;
  font-size: 30px;
  letter-spacing: 4.5px;
  margin: 10px;
  border-bottom: 3px solid ;
}
.label{
  font-size: 20px;
  padding-right:15px;
  color: aliceblue;
}
.trash{
  padding: 0px;
  margin-left: 10px;
  font-size: 1em;
}
}